* text=auto !eol
/.classpath -text
.externalToolBuilders/Create[!!-~]Distribution.launch -text
.externalToolBuilders/Javadoc.launch -text
/.project -text
.settings/org.eclipse.core.resources.prefs -text svneol=unset#text/plain
/build-data.properties -text
/build-dirs.properties -text
build-scripts/distribution-builder.xml -text
build-scripts/jar-builder.xml -text
build-scripts/version-builder.xml -text
/build.xml -text svneol=unset#text/plain
/create-distribution.xml -text svneol=unset#text/plain
/javadoc.xml -text
lib/commons-lang3-3.1/LICENSE.txt -text
lib/commons-lang3-3.1/NOTICE.txt -text
lib/commons-lang3-3.1/RELEASE-NOTES.txt -text
lib/commons-lang3-3.1/commons-lang3-3.1.jar -text
lib/commons-logging-1.1.1/LICENSE.txt -text svneol=unset#text/plain
lib/commons-logging-1.1.1/NOTICE.txt -text svneol=unset#text/plain
lib/commons-logging-1.1.1/RELEASE-NOTES.txt -text svneol=unset#text/plain
lib/commons-logging-1.1.1/commons-logging-1.1.1.jar -text
lib/commons-logging-1.1.1/commons-logging-adapters-1.1.1.jar -text
lib/commons-logging-1.1.1/commons-logging-api-1.1.1.jar -text
lib/commons-net-3.1/LICENSE.txt -text
lib/commons-net-3.1/NOTICE.txt -text
lib/commons-net-3.1/RELEASE-NOTES.txt -text
lib/commons-net-3.1/commons-net-3.1.jar -text
readme/changelog.txt -text svneol=unset#text/plain
readme/license.txt -text svneol=unset#text/plain
src/com/ceridwen/util/collections/PersistentQueue.java -text
src/com/ceridwen/util/collections/Queue.java -text
src/com/ceridwen/util/collections/Spooler.java -text
src/com/ceridwen/util/collections/SpoolerProcessor.java -text
src/com/ceridwen/util/collections/TransientQueue.java -text
src/com/ceridwen/util/encryption/TEAAlgorithm.java -text
src/com/ceridwen/util/logging/AbstractLogHandler.java -text
src/com/ceridwen/util/logging/JabberLogHandler.java -text
src/com/ceridwen/util/logging/RESTLogHandler.java -text svneol=unset#text/plain
src/com/ceridwen/util/logging/SMTPLogHandler.java -text
src/com/ceridwen/util/logging/SyslogLogHandler.java -text
src/com/ceridwen/util/management/notification/ThreadedNotificationBroadcasterSupport.java -text
src/com/ceridwen/util/net/Syslog.java -text svneol=unset#text/plain
src/com/ceridwen/util/net/TimeoutSocketFactory.java -text
src/com/ceridwen/util/versioning/AboutDialog.java -text
src/com/ceridwen/util/versioning/LibraryIdentifier.java -text
src/com/ceridwen/util/versioning/LibraryRegistry.java -text
