* text=auto !eol
/.classpath -text
.externalToolBuilders/Build[!!-~][!!-~]Number[!!-~]-[!!-~]About[!!-~]Dialog.launch -text
.externalToolBuilders/Build[!!-~]Number[!!-~]-[!!-~]Component[!!-~]Registry.launch -text
.externalToolBuilders/Build[!!-~]Number[!!-~]-[!!-~]SMTPLogHandler.launch -text
.externalToolBuilders/Build[!!-~]Number[!!-~]-[!!-~]Spooler.launch -text
.externalToolBuilders/Package[!!-~]Utilities[!!-~]Jar.launch -text svneol=unset#text/plain
/.project -text
.settings/org.eclipse.core.resources.prefs -text svneol=unset#text/plain
/build.xml -text svneol=unset#text/plain
/buildnum.xml -text
/changelog.txt -text svneol=unset#text/plain
lib/commons-lang3-3.0/LICENSE.txt -text svneol=unset#text/plain
lib/commons-lang3-3.0/NOTICE.txt -text svneol=unset#text/plain
lib/commons-lang3-3.0/RELEASE-NOTES.txt -text svneol=unset#text/plain
lib/commons-lang3-3.0/commons-lang3-3.0-tests.jar -text
lib/commons-lang3-3.0/commons-lang3-3.0.jar -text
lib/commons-logging-1.1.1/LICENSE.txt -text svneol=unset#text/plain
lib/commons-logging-1.1.1/NOTICE.txt -text svneol=unset#text/plain
lib/commons-logging-1.1.1/RELEASE-NOTES.txt -text svneol=unset#text/plain
lib/commons-logging-1.1.1/commons-logging-1.1.1.jar -text
lib/commons-logging-1.1.1/commons-logging-adapters-1.1.1.jar -text
lib/commons-logging-1.1.1/commons-logging-api-1.1.1.jar -text
lib/commons-net-2.0/LICENSE.txt -text svneol=unset#text/plain
lib/commons-net-2.0/NOTICE.txt -text svneol=unset#text/plain
lib/commons-net-2.0/README -text
lib/commons-net-2.0/commons-net-2.0.jar -text
lib/commons-net-2.0/commons-net-ftp-2.0.jar -text
/license.txt -text svneol=unset#text/plain
/package-jar.xml -text svneol=unset#text/plain
src/com/ceridwen/util/PersistentQueue.java -text
src/com/ceridwen/util/Queue.java -text
src/com/ceridwen/util/Spooler.java -text
src/com/ceridwen/util/Spooler.num -text
src/com/ceridwen/util/SpoolerProcessor.java -text
src/com/ceridwen/util/TransientQueue.java -text
src/com/ceridwen/util/encryption/TEAAlgorithm.java -text
src/com/ceridwen/util/logging/AbstractLogHandler.java -text
src/com/ceridwen/util/logging/JabberLogHandler.java -text
src/com/ceridwen/util/logging/RESTLogHandler.java -text svneol=unset#text/plain
src/com/ceridwen/util/logging/SMTPLogHandler.java -text
src/com/ceridwen/util/logging/SMTPLogHandler.num -text
src/com/ceridwen/util/logging/SyslogLogHandler.java -text
src/com/ceridwen/util/management/notification/ThreadedNotificationBroadcasterSupport.java -text
src/com/ceridwen/util/net/Syslog.java -text svneol=unset#text/plain
src/com/ceridwen/util/net/TimeoutSocketFactory.java -text
src/com/ceridwen/util/versioning/AboutDialog.java -text
src/com/ceridwen/util/versioning/AboutDialog.num -text
src/com/ceridwen/util/versioning/ComponentRegistry.java -text
src/com/ceridwen/util/versioning/ComponentRegistry.num -text
