* text=auto !eol
/.classpath -text
/.project -text
/Utilities.jpx -text
/buildnum.xml -text
/ceridwen-utilities.jar -text
lib/commons-logging-1.1/LICENSE.txt -text
lib/commons-logging-1.1/NOTICE.txt -text
lib/commons-logging-1.1/RELEASE-NOTES.txt -text
lib/commons-logging-1.1/commons-logging-1.1.jar -text
lib/commons-logging-1.1/commons-logging-adapters-1.1.jar -text
lib/commons-logging-1.1/commons-logging-api-1.1.jar -text
lib/commons-net-1.4.1/LICENSE.txt -text
lib/commons-net-1.4.1/NOTICE.txt -text
lib/commons-net-1.4.1/commons-net-1.4.1.jar -text
src/com/ceridwen/util/PersistentQueue.java -text
src/com/ceridwen/util/Queue.java -text
src/com/ceridwen/util/Spooler.java -text
src/com/ceridwen/util/Spooler.num -text
src/com/ceridwen/util/SpoolerProcessor.java -text
src/com/ceridwen/util/TransientQueue.java -text
src/com/ceridwen/util/encryption/TEAAlgorithm.java -text
src/com/ceridwen/util/logging/AbstractLogHandler.java -text
src/com/ceridwen/util/logging/JMXLogHandler.java -text
src/com/ceridwen/util/logging/JMXLogHandler.num -text
src/com/ceridwen/util/logging/JMXLogHandlerMBean.java -text
src/com/ceridwen/util/logging/JabberLogHandler.java -text
src/com/ceridwen/util/logging/SMTPLogHandler.java -text
src/com/ceridwen/util/logging/SMTPLogHandler.num -text
src/com/ceridwen/util/logging/SyslogLogHandler.java -text
src/com/ceridwen/util/management/notification/ThreadedNotificationBroadcasterSupport.java -text
src/com/ceridwen/util/net/TimeoutSocketFactory.java -text
src/com/ceridwen/util/versioning/AboutDialog.java -text
src/com/ceridwen/util/versioning/AboutDialog.num -text
src/com/ceridwen/util/versioning/ComponentRegistry.java -text
src/com/ceridwen/util/versioning/ComponentRegistry.num -text
